[Unit]
Description=myrealm
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
DynamicUser=true
WorkingDirectory=/root/releam
ExecStart=/root/releam/realm -c /root/releam/config.json
[Install]
WantedBy=multi-user.target
